body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
 
    padding: 20px;
    display: flex;
    text-align: center;
}


.product-container  {
    width: 90%;
   padding-left: 120px;
    text-align: center;

}

.product-container h2 {
   
    text-align: left;
    border-bottom: 3px solid blue;
width: max-content;
}

.products-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}

.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 250px;
    padding: 15px;
    text-align: left;
}

.product-image {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
}

.product-card h3 {
    font-size: 1.2em;
    margin: 10px 0;
}

.product-card p {
    font-size: 0.9em;
    color: #777;
}

.price {
    font-size: 1em;
    margin: 10px 0;
}

.new-price {
    color: green;
    font-weight: bold;
}

.old-price {
    color: red;
    text-decoration: line-through;
    margin-left: 10px;
}

.B1 button {
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   background-color: rgb(64, 64, 225);
float: left;
    align-items: left;
    margin: 8px;
    padding: 9px;
}
.B2 button {
    background-color: white;
 float: left;
     align-items: left;
     margin: 8px;
     padding: 9px;
    border-color: cornflowerblue;
 }
.add-to-cart {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;

}




